<p style="color: green"><%= notice %></p>

<%= render @felhasznalo %>

<div>
  <%= link_to "Edit this felhasznalo", edit_felhasznalo_path(@felhasznalo) %> |
  <%= link_to "Back to felhasznalos", felhasznalos_path %>

  <%= button_to "Destroy this felhasznalo", @felhasznalo, method: :delete %>
</div>
