<p style="color: green"><%= notice %></p>

<%= render @hirdet %>

<div>
  <%= link_to "Edit this hirdet", edit_hirdet_path(@hirdet) %> |
  <%= link_to "Back to hirdets", hirdets_path %>

  <%= button_to "Destroy this hirdet", @hirdet, method: :delete %>
</div>
