<%= form_with(model: rate) do |form| %>
  <% if rate.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rate.errors.count, "error") %> prohibited this rate from being saved:</h2>

      <ul>
        <% rate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :advert_id, style: "display: block" %>
    <%= form.number_field :advert_id %>
  </div>

  <div>
    <%= form.label :csillag, style: "display: block" %>
    <%= form.number_field :csillag %>
  </div>

  <div>
    <%= form.label :leiras, style: "display: block" %>
    <%= form.text_area :leiras %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
