<div id="<%= dom_id rate %>">
  <p>
    <strong>User:</strong>
    <%= rate.user_id %>
  </p>

  <p>
    <strong>Advert:</strong>
    <%= rate.advert_id %>
  </p>

  <p>
    <strong>Csillag:</strong>
    <%= rate.csillag %>
  </p>

  <p>
    <strong>Leiras:</strong>
    <%= rate.leiras %>
  </p>

</div>
