<p style="color: green"><%= notice %></p>

<%= render @carry %>

<div>
  <%= link_to "Edit this carry", edit_carry_path(@carry) %> |
  <%= link_to "Back to carries", carries_path %>

  <%= button_to "Destroy this carry", @carry, method: :delete %>
</div>
