<div id="<%= dom_id mitszallit %>">
  <p>
    <strong>Mit:</strong>
    <%= mitszallit.mit %>
  </p>

  <p>
    <strong>Mennyiseg:</strong>
    <%= mitszallit.mennyiseg %>
  </p>

  <p>
    <strong>Ar kg:</strong>
    <%= mitszallit.ar_kg %>
  </p>

  <p>
    <strong>Min vasarlas:</strong>
    <%= mitszallit.min_vasarlas %>
  </p>

</div>
