<p style="color: green"><%= notice %></p>

<%= render @mitszallit %>

<div>
  <%= link_to "Edit this mitszallit", edit_mitszallit_path(@mitszallit) %> |
  <%= link_to "Back to mitszallits", mitszallits_path %>

  <%= button_to "Destroy this mitszallit", @mitszallit, method: :delete %>
</div>
