<div id="<%= dom_id hirdete %>">
  <p>
    <strong>Termek nev:</strong>
    <%= hirdete.termek_nev %>
  </p>

  <p>
    <strong>Mennyiseg:</strong>
    <%= hirdete.mennyiseg %>
  </p>

  <p>
    <strong>Ar kg:</strong>
    <%= hirdete.ar_kg %>
  </p>

  <p>
    <strong>Min vasarlas:</strong>
    <%= hirdete.min_vasarlas %>
  </p>

</div>
