<p style="color: green"><%= notice %></p>

<%= render @hirdete %>

<div>
  <%= link_to "Edit this hirdete", edit_hirdete_path(@hirdete) %> |
  <%= link_to "Back to hirdetes", hirdetes_path %>

  <%= button_to "Destroy this hirdete", @hirdete, method: :delete %>
</div>
