<div id="<%= dom_id deliver %>">
  <p>
    <strong>Order:</strong>
    <%= deliver.order_id %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= deliver.supplier_id %>
  </p>

  <p>
    <strong>Mennyiseg:</strong>
    <%= deliver.mennyiseg %>
  </p>

  <p>
    <strong>Hova:</strong>
    <%= deliver.hova %>
  </p>

  <p>
    <strong>Koltseg:</strong>
    <%= deliver.koltseg %>
  </p>

  <p>
    <strong>Varhato szallitas:</strong>
    <%= deliver.varhato_szallitas %>
  </p>

</div>
