<div id="<%= dom_id ertekel %>">
  <p>
    <strong>Felhaszn:</strong>
    <%= ertekel.felhaszn_id %>
  </p>

  <p>
    <strong>Hirdetes:</strong>
    <%= ertekel.hirdetes_id %>
  </p>

  <p>
    <strong>Csillag:</strong>
    <%= ertekel.csillag %>
  </p>

  <p>
    <strong>Leiras:</strong>
    <%= ertekel.leiras %>
  </p>

</div>
