<p style="color: green"><%= notice %></p>

<%= render @ertekel %>

<div>
  <%= link_to "Edit this ertekel", edit_ertekel_path(@ertekel) %> |
  <%= link_to "Back to ertekels", ertekels_path %>

  <%= button_to "Destroy this ertekel", @ertekel, method: :delete %>
</div>
