<div id="<%= dom_id advert %>">
  <p>
    <h1>Termek nev:</h1>
    <%= advert.termek_nev %>
  </p>

  <p>
    <strong>Mennyiseg:</strong>
    <%= advert.mennyiseg %>
  </p>

  <p>
    <strong>Ar kg:</strong>
    <%= advert.ar_kg %>
  </p>

  <p>
    <strong>Min vasarlas:</strong>
    <%= advert.min_vasarlas %>
  </p>

</div>
