<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <% stylesheet_link_tag "style" %>
  <title>Kő és szikla</title>
</head>
<body>
<div class="container">
    <%= render 'layouts/navbar' %>
  <main>
    <div>
      <p>Az rendeléseid összeköltsége: <%= @cost[0]['koltseg'] %></p>
    </div>
    <table class="hozzaszolas">
      <thead>
      <td>Termék neve</td>
      <td>A szalitó eg neve </td>
      <td>Rednelt mennyiség</td>
      <td>Koltseg</td>
      <td>Szallitasi cím</td>
      </thead>
      <% @allorders.each do |order| %>
        <tr>
          <td><%= order['termek_nev'] %>:</td>
          <td><%= order['ceg_nev'] %></td>
          <td><%= order['mennyiseg'] %></td>
          <td><%= order['koltseg'] %></td>
          <td><%= order['hova'] %></td>
          </tr>
        <% end %>

    </table>
  </main>
  <footer><p>&copy; Kő és szikla 2023</p></footer>
</div>

</body>
</html>
