<p style="color: green"><%= notice %></p>

<%= render @szallito %>

<div>
  <%= link_to "Edit this szallito", edit_szallito_path(@szallito) %> |
  <%= link_to "Back to szallitos", szallitos_path %>

  <%= button_to "Destroy this szallito", @szallito, method: :delete %>
</div>
