<header><a href="../" class="ko-es-szikla"><span>Kő és szikla</span></a>
  <ul class="navbar">
    <li><%= link_to "Hírdetmények", home_path %></li>
    <li><%= link_to "Rendelések", bag_path %></li>


    <% if session[:admin] %>
      <li><%= link_to "Hirdetemenyek Kezelese", "/osszes" %></li>
      <li><%= link_to "felhasznalok kezelese", "/all_users" %></li>
    <% end %>
    <% if logged_in? %>
      <li><%= link_to "Új hírdetmény", "/adverts/new" %></li>
      <li><%= link_to "Profil adatok", profile_path %></li>
      <li><%= link_to "Kijelentkezés", logout_path %></li>
    <% else %>
      <li><%= link_to "Bejelentkezés", login_path %></li>
      <li><%= link_to "Regisztráció", "/users/new" %></li>
    <% end %>
  </ul>
</header>