<p style="color: green"><%= notice %></p>

<%= render @rendel %>

<div>
  <%= link_to "Edit this rendel", edit_rendel_path(@rendel) %> |
  <%= link_to "Back to rendels", rendels_path %>

  <%= button_to "Destroy this rendel", @rendel, method: :delete %>
</div>
