<%= form_with(model: kiszallit) do |form| %>
  <% if kiszallit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(kiszallit.errors.count, "error") %> prohibited this kiszallit from being saved:</h2>

      <ul>
        <% kiszallit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :rendel_id, style: "display: block" %>
    <%= form.number_field :rendel_id %>
  </div>

  <div>
    <%= form.label :szallito_id, style: "display: block" %>
    <%= form.number_field :szallito_id %>
  </div>

  <div>
    <%= form.label :mennyiseg, style: "display: block" %>
    <%= form.text_field :mennyiseg %>
  </div>

  <div>
    <%= form.label :hova, style: "display: block" %>
    <%= form.text_field :hova %>
  </div>

  <div>
    <%= form.label :koltseg, style: "display: block" %>
    <%= form.text_field :koltseg %>
  </div>

  <div>
    <%= form.label :varhato_szallitas, style: "display: block" %>
    <%= form.date_field :varhato_szallitas %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
