<div id="<%= dom_id kiszallit %>">
  <p>
    <strong>Rendel:</strong>
    <%= kiszallit.rendel_id %>
  </p>

  <p>
    <strong>Szallito:</strong>
    <%= kiszallit.szallito_id %>
  </p>

  <p>
    <strong>Mennyiseg:</strong>
    <%= kiszallit.mennyiseg %>
  </p>

  <p>
    <strong>Hova:</strong>
    <%= kiszallit.hova %>
  </p>

  <p>
    <strong>Koltseg:</strong>
    <%= kiszallit.koltseg %>
  </p>

  <p>
    <strong>Varhato szallitas:</strong>
    <%= kiszallit.varhato_szallitas %>
  </p>

</div>
