<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <% stylesheet_link_tag "style" %>
  <title>Kő és szikla</title>
</head>
<body>
  <div class="container">
    <header>
      <a href="../" class="ko-es-szikla"><span>Kő és szikla</span></a>
      <ul class="navbar">
        <li>
          <a href="/home" onclick="activateNavItem(this)">Hirdetmények</a>
        </li>
        <li><a href="/newads">Új hirdetmény</a></li>
        <li>
          <a href="/userdata" onclick="activateNavItem(this)">Profil adatok</a>
        </li>
        <li class="active"><a href="/login">Bejelentkezés/Kijelentkezés</a></li>
        <li><a href="/signup">Regisztráció</a></li>
      </ul>
    </header>
    <main>
      <%= form_with(model: user) do |form| %>
        <% if user.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% user.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="signup">
          <%= form.label :nev, style: "display: block" %>
          <%= form.text_field :nev %>
        </div>
      <% end %>
      <!-- <form class="profil">
        <h1>Bejelentkezés</h1>
        <div class="signup">

          <label>Felhasználónév: <input type="text" name="username" placeholder="Add meg a felhasználónevedet!"></input></label>
          <label>Jelszó: <input type="password" name="password" placeholder="Add meg a jelszavadat!"></input></label>
        </div>
        <div class="buttons">
          <input type="reset" value="Mégse" />
          <input type="submit" value="Belépés" />
        </div>
        <a href="/signup">Sign up here!</a>
      </form>
      -->
      </main>
    <footer><p>&copy; Kő és szikla 2023</p></footer>
  </div></body>
</html>
